# Carpetas que ignoramos
data/
report/

# Para eliminar del repositorio, pero no del local (Si hacemos commit y nos hemos olvidado del gitignore)
#git rm -r --cached nombre_carpeta
#git commit -m 'Eliminada carpeta nombre_carpeta del repo'

# Archios que ignoramos
#*.csv